body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #1c1c1c;
}

nav {
  width: 100%;
  background-color: #4e57ba;
}

nav a {
  color: #343434;
  padding: 1em;
  display: inline-block;
}

a.active,
h1,
h2 {
  color: #3fcf8e;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #4e57ba;
  font-weight: bold;
}

p {
  max-width: 768px;
  margin: 0 auto;
  color: white;
  padding: 1em;
}

.card {
  background: var(--light-background);
  color: var(--faded-text);
  width: 400px;
  border-radius: 6px;
  border: 1px solid #2E2E2E;
  margin: 2rem;
}

.card-title {
  text-align: left;
  padding: 20px 20px 0;
}

.spinner {
  display: grid;
  place-items: center;
  height: 10em;
  margin-bottom: 5em;
}

.loader {
  border: 6px solid #343434;
  border-top: 6px solid var(--highlight);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


:root {
  --highlight: #3fcf8e;
  --red: #e46161;
  --yellow: #ebeb81;
  --light-background: #232323;
  --faded-text: #ededed;
  --dim-text: #707070;
}