body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #1c1c1c;
}

nav {
  width: 100%;
  background-color: #4e57ba;
}

nav a {
  color: #343434;
  padding: 1em;
  display: inline-block;
}

a.active,
h1,
h2 {
  color: #3fcf8e;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #4e57ba;
  font-weight: bold;
}

p {
  max-width: 768px;
  margin: 0 auto;
  color: white;
  padding: 1em;
}
