@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');

:root {
  --highlight: #3fcf8e;
  --red: rgb(228, 97, 97);
  --yellow: #ebeb81;
  --background: #1c1c1c;
  --light-background: #232323;
  --faded-text: #ededed;
  --dim-text: #707070;

  --faint-text: #919191;
  --dark-background: #141414;
  --dark-green: #081d13;
}


body {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--background);
}

nav {
  width: 100%;
  background-color: #4e57ba;
}

nav a {
  color: #343434;
  padding: 1em;
  display: inline-block;
}

a.active,
h1,
h2 {
  color: #3fcf8e;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #4e57ba;
  font-weight: bold;
}

p {
  max-width: 768px;
  margin: 0 auto;
  color: white;
  padding: 1em;
}

.card {
  background: var(--light-background);
  color: var(--faded-text);
  width: 400px;
  border-radius: 6px;
  border: 1px solid #2E2E2E;
  margin: 2rem 0;
}

.card-title {
  text-align: left;
  padding: 16px 20px 0;
}

.svg-container {
  margin: auto !important;
}

.footer-logo {
  width: 12px;
  margin-top: 10px;
}

/* Form */

.generate {
  display: grid;
  place-items: center;
}

h2 {
  margin: 0 0 1em;
  font-size: 2em;
}

.content {
  width: fit-content;
  background: #343434;
  background: var(--background);
  padding: 3.5em 4em 4em;
  border-radius: 9px;
  margin: 20vh 0;
  /* height: 400px; */
  box-shadow: 0 0 180px 2px var(--highlight);
}

input {
  background: var(--background);
  background: #343434;
  border: none;
  padding: 0 20px;
  width: 36ch;
  font-size: 1em;
  text-align: center;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 2.5em;
  color: white;
  display: grid;
}

@media screen and (max-width: 1000px) {
  .content {
    padding: 3em 5%;
    font-size: 0.8em;
  }
}

#formBtn {
  height: 40px;
  border-radius: 4px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  background: #3fcf8e;
}

.highlight {
  color: #3fcf8e;
}

.details {
  font-size: 0.8em;
}

.keep-secure {
  color: #5a5a5a;
  margin-bottom: 1em;
}

.no-display {
  display: none;
}

/* Spinner */

.spinner {
  display: grid;
  place-items: center;
  height: 10em;
}

.loader {
  border: 6px solid #343434;
  border-top: 6px solid var(--highlight);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

