{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "extraFileExtensions": [".svelte"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "svelte3"],
  "extends": [
    "eslint:recommended",
    "plugin:svelte/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["public/"],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ]

}
